@keyframes around {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 1240px;
    top: 0;
  }
  50% {
    left: 1240px;
    top: 540px;
  }
  75% {
    left: 0;
    top: 540px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

p {
  animation: around 10s linear 0s infinite;
  background: turquoise;
  color: white;
  height: 60px;
  line-height: 60px;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 60px;
}